NODE_ENV=development
APP_PORT=3000

DATABASE_URL=mysql://b_h_user:b_h_password@localhost:3307/b_h_core

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=b_h_core
MYSQL_USER=b_h_user
MYSQL_PASSWORD=b_h_password
MYSQL_PORT=3306
DB_EXPOSED_PORT=3307

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=b_h_user
DB_PASSWORD=b_h_password
DB_NAME=b_h_core

JWT_SECRET=your-jwt-secret-change-in-production

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password
MAIL_FROM="Breaze & Harold Veterinary System" <your-email@gmail.com>

APP_BASE_URL=http://localhost:3000
CLINIC_ADDRESS=Sede principal Breaze & Harold Veterinary System

BUSINESS_HOURS_START=7
BUSINESS_HOURS_END=19
BUSINESS_DAYS=1,2,3,4,5

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password
